#container{
  /* 절대값으로 컨테이너 같은 부모에 지정하고 내부에 있는 박스들은 크기지정을 하지 않는게 좋다.(반응형) */
  width:600px;
  height:500px;
  border:1px solid gray;
  margin: 10px auto;
  padding:20px;
}

h1{
  background-color: #f71115;
  color: white;
  padding:20px ;
  text-align: center;
}

h2{
  color:#110106;
  text-align: center;
  margin-bottom: 50px;
}

h3{
  font-size:20px;
  color:#e22869;
  

}
ul{  
  list-style: none;
  margin: 20px;
}
  