/* 웹폰트란 브라우저에게 "이런 글꼴도 있다"라고 알려주는 것 */
/* 폰트 등록 */


/* font-face->폰트 등록 */
@font-face {
  /* css에서 우리가 사용할 글꼴이름 지정(임의로 지정가능) */
    font-family: 'our-font1';
    /* 실제 폰트 파일(ttf,woff2..) 위치*/
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2);
    /* 폰트굵기(normal=400) */
    font-weight: 200;
    /* 폰트 로딩이 늦으면 기본글꼴로 보여주다가 나중에 교체 */
    font-display: swap;
}

/* 실제 file을 등록*/
@font-face{
  font-family: "our-font2";
  src:url(./Hakgyangsim_PosterB.ttf);
}

h1{
  font-family: our-font1,Arial;
  
}

/* 눈누,구글 웹폰트 사용해서 폰트 다운받기 */
p{
  font-family:our-font1,sans-serif;
}